
<div class  ="art" >
  <div class ="art-contents">
    <div class ="result-image-container" data-photo-link = {{photoURL}}>
      <p class = "asciiBox" ></p>
    </div>
    <div class = "result-info-container">
      <a href="#" class="result-title">{{description}}</a> <br> <span class="userIn">{{userInput}}</span>
    </div>
  </div>
</div>
