<header>
  <div class="header-image-container">
    <img src="https://parse-o-matic.com/common/images/pc-extended-ascii.gif" alt="ASCII ART">
  </div>
  <h1 class="site-title"><a href="#">ASCII ART</a>


    <button id="search-button" class="action-button">Search</button>
    <button id="submit-button" class="action-button">Submit</button>


            <div class = "black-banner"></div>
</header>
