{{> header}}

<div id="modal-backdrop" class="hidden"></div>
  <div id="submit-something-modal" class="hidden">
    <div class="modal-dialog">
      <div class="modal-header">
        <h3>Submit a ASCII Masterpiece with a URL!!!</h3>
      </div>

      <div class="modal-body">

        <div class="post-input-element">
            <label for="post-section-input">Section:</label>
            </br>
            <input type="text" id="post-section-input"></input>
          </br>
            <label for="post-photo-input">Title:</label>
            </br>
            <input type="text" id="post-title-input"></input>
          </br>
            <label for="post-photo-input">Description:</label>
            </br>
            <input type="text" id="post-description-input"></input>
          </br>
          <label for="post-photo-input">photoURL:</label>
          </br>
          <input type="text" id="post-photoURL-input">
        </br>
      </div>

      <div class="modal-footer">
        <button type="button" id="create-button" class="modal-create-button">Create</button>
        <button type="button" id="modal-cancel-button" class="modal-cancel-button">Cancel</button>

      </div>

    </div>
  </div>
</div>

<main class ="content">

    {{#each asciiData}}
      {{#each this}}
        <section id= "{{@key}}"
          <div class="art-container">
            <h1>{{@key}}</h1>
            {{#each this}}
              {{> asciiPost}}
            {{/each}}
          </div>
        </section>
      {{/each}}
    {{/each}}


</main>
